.map-container {
    height: 400px;
}

.timetable-pages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.timetable-page {
    background-color: #c8c8c8;
    border-radius: 5px;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #151735;
}

.timetable-page .timetable-label {
    font-weight: bold;
    color: #151735;
    display: block;
    font-size: 1.4em;
}

.route {
    border-radius: 10px;
    padding: 7px;
    margin: 5px 0;
    display: inline-block;
}

.timetable-page .timetable-days {
    margin-left: 5px;
    font-size: 1.2em;
    vertical-align: middle;
}

.timetable-container {
    background: #c8c8c8;
    color: #151735;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.timetable-container h2 {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.timetable-container .route {
    margin: 0 10px 0 0;
}

.timetable-container .table-container {
    overflow-x: auto;
    margin: 10px;
}

.timetable-container .table {
    border-collapse: collapse;
    border: 2px solid #000;
}

.timetable-container .table thead th {
    background-color: #151735;
    color: #c8c8c8;
    padding: 10px;
}

.timetable-container .table tbody th {
    text-align: left;
    padding: 10px;
}

.timetable-container .table tbody td {
    text-align: left;
    padding: 5px;
}

.timetable-container .table tbody th .stop-code {
    font-weight: normal;
}

@media (max-width: 950px) {
    .timetable-container {
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: -20px;
    }

    .overview-map {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.service-alerts {
    display: none;
}

#service-alerts {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

.alert {
    background-color: #c8c8c8;
    color: #151735;
    padding: 10px;
    border-radius: 5px;
}

.alert h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.4em;
}

.alert .cause, .alert .effect, .alert .severity {
    margin-bottom: 5px;
    display: block;
    font-size: 1.2em;
}

.alert p {
    font-size: 1.1em;
}

.alert a {
    color: #089491;
}

.timetable .stop-time:not(.rt) .stop-time-rt-text {
    display: none;
}

.timetable .stop-time.rt .stop-time-text {
    display: none;
}

.timetable .stop-time.rt .stop-time-rt-text, .rt-info .rt-demo {
    color: #067516;
}

.timetable .stop-time.rt-exact .stop-time-rt-text, .rt-info .rt-exact-demo {
    font-weight: bold;
}

.timetable .stop-time.rt:not(.rt-exact)::after, .rt-info .rt-demo:not(.rt-exact-demo)::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url('../img/rt.png') no-repeat 50% 50%;
    background-size: contain;
    margin-left: 3px;
    margin-right: 3px;
    transform: translateY(-25%);
}

.rt-info {
    padding: 10px;
}

.rt-info div {
    margin-right: 10px;
    display: inline-block;
}