Django
celery
django-colorfield
django-admin-sortable2
grpcio-tools
mypy-protobuf
docker
gunicorn
psycopg2-binary
geographiclib
scipy
pycryptodome
requests
shapely
prometheus-client
pymemcache
django-cors-headers
xsdata[cli,lxml]
stomp.py
boto3
pytz
django-cprofile-middleware